In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('../data/ks-projects.csv', encoding='latin1')

In [3]:
data

,id,name,category,subcategory,country,sex,age,start_date,end_date,currency,goal,pledged,backers,state
0,149450711,Abilities Rock,Art,Art,US,male,26,2015-11-17 19:37:50,2015-12-17 19:37:50,USD,10000.0,0.0,0,failed
1,356418410,De'VIA Elders Reunion,Art,Art,US,female,26,2016-03-21 22:18:52,2016-04-23 04:00:00,USD,7500.0,958.0,15,failed
2,412253775,Help C.B. Farr make a documentary about becomi...,Art,Art,US,female,28,2013-06-05 08:30:31,2013-07-05 08:30:31,USD,20000.0,0.0,0,failed
3,477821027,The London Aesthetifest,Art,Art,US,female,27,2014-06-24 19:49:35,2014-07-15 04:05:00,USD,7800.0,1000.0,15,failed
4,350951514,Hobo Nickels across the nation,Art,Art,US,male,22,2015-10-02 16:00:42,2015-11-01 16:00:42,USD,2621.0,392.0,6,failed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
300622,285318317,MakerSpace: DEFEAT-Teaching to the test!,Technology,Makerspaces,US,male,27,2014-07-22 13:43:24,2014-08-31 05:15:00,USD,5000.0,226.0,6,failed
300623,503601672,Austin Tinkering School: the Expansion,Technology,Makerspaces,US,female,30,2014-10-27 16:27:02,2014-11-26 03:00:00,USD,20000.0,23312.0,318,successful
300624,565122152,Websmith Studio : Think; Build; Break; Play.,Technology,Makerspaces,US,female,22,2016-01-11 23:13:36,2016-02-10 23:13:36,USD,1500.0,1660.0,18,successful
300625,848305186,eTree; for all those who come to take shelter ...,Technology,Makerspaces,FR,female,35,2015-09-18 12:43:27,2015-11-17 12:43:27,EUR,300000.0,317.0,7,canceled
300626,815381283,MakerSpace: Teacher desperate to stop teachin...,Technology,Makerspaces,US,male,20,2014-07-18 04:47:43,2014-08-12 00:22:00,USD,1000.0,0.0,0,canceled

In [4]:
print(data.dtypes)

id               int64
name            object
category        object
subcategory     object
country         object
sex             object
age              int64
start_date      object
end_date        object
currency        object
goal           float64
pledged        float64
backers          int64
state           object
dtype: object

In [5]:
print(data.isnull().sum())

id                0
name              4
category          0
subcategory       0
country        3797
sex            8908
age               0
start_date        0
end_date          0
currency          0
goal              0
pledged           0
backers           0
state             0
dtype: int64

In [6]:
print(data.isna().sum())

id                0
name              4
category          0
subcategory       0
country        3797
sex            8908
age               0
start_date        0
end_date          0
currency          0
goal              0
pledged           0
backers           0
state             0
dtype: int64

In [7]:
data['state'].unique()

array(['failed', 'canceled', 'successful', 'live', 'suspended',
       'undefined'], dtype=object)

In [8]:
state_counts = data['state'].value_counts()

In [9]:
state_counts

failed        156301
successful    105056
canceled       29444
live            4926
undefined       3562
suspended       1338
Name: state, dtype: int64

In [10]:
sex_counts_global = data['sex'].value_counts()

In [11]:
sex_counts_global # en global il presque autant de male que de female

female    147517
male      144202
Name: sex, dtype: int64

In [12]:
#reste Ã  voir si il y'a autant de male et de female dans successul et failed

In [13]:
successful_data = data[data['state'] == 'successful']
failed_data = data[data['state'] == 'failed']

# les occurrences de 'male' et 'female' dans chaque catÃ©gorie
male_count_successful = successful_data[successful_data['sex'] == 'male'].shape[0]
female_count_successful = successful_data[successful_data['sex'] == 'female'].shape[0]

male_count_failed = failed_data[failed_data['sex'] == 'male'].shape[0]
female_count_failed = failed_data[failed_data['sex'] == 'female'].shape[0]

print("Successful - Male count:", male_count_successful)
print("Successful - Female count:", female_count_successful)
print("Failed - Male count:", male_count_failed)
print("Failed - Female count:", female_count_failed)

Successful - Male count: 50583
Successful - Female count: 51385
Failed - Male count: 74775
Failed - Female count: 76892

In [14]:
# on a presque les memes valeurs donc nous decidons de suprimer l'attribut sex et les valeurs de states differents de successful et failed

In [15]:
data = data[data['state'].isin(['successful', 'failed'])]
data = data.drop('sex', axis=1)

In [16]:
data

,id,name,category,subcategory,country,age,start_date,end_date,currency,goal,pledged,backers,state
0,149450711,Abilities Rock,Art,Art,US,26,2015-11-17 19:37:50,2015-12-17 19:37:50,USD,10000.0,0.0,0,failed
1,356418410,De'VIA Elders Reunion,Art,Art,US,26,2016-03-21 22:18:52,2016-04-23 04:00:00,USD,7500.0,958.0,15,failed
2,412253775,Help C.B. Farr make a documentary about becomi...,Art,Art,US,28,2013-06-05 08:30:31,2013-07-05 08:30:31,USD,20000.0,0.0,0,failed
3,477821027,The London Aesthetifest,Art,Art,US,27,2014-06-24 19:49:35,2014-07-15 04:05:00,USD,7800.0,1000.0,15,failed
4,350951514,Hobo Nickels across the nation,Art,Art,US,22,2015-10-02 16:00:42,2015-11-01 16:00:42,USD,2621.0,392.0,6,failed
...,...,...,...,...,...,...,...,...,...,...,...,...,...
300620,54844339,Growing ManhattanÂ’s community hackerspace,Technology,Makerspaces,US,21,2013-04-05 17:37:20,2013-04-16 02:00:00,USD,1000.0,1769.0,25,successful
300621,565306461,One small step for Africa ... Vehicles that ru...,Technology,Makerspaces,CA,28,2015-01-21 20:05:25,2015-02-20 20:05:25,CAD,10000.0,10815.0,56,successful
300622,285318317,MakerSpace: DEFEAT-Teaching to the test!,Technology,Makerspaces,US,27,2014-07-22 13:43:24,2014-08-31 05:15:00,USD,5000.0,226.0,6,failed
300623,503601672,Austin Tinkering School: the Expansion,Technology,Makerspaces,US,30,2014-10-27 16:27:02,2014-11-26 03:00:00,USD,20000.0,23312.0,318,successful
300624,565122152,Websmith Studio : Think; Build; Break; Play.,Technology,Makerspaces,US,22,2016-01-11 23:13:36,2016-02-10 23:13:36,USD,1500.0,1660.0,18,successful

In [17]:
counry_counts_global = data['country'].value_counts()

In [18]:
counry_counts_global

US    215795
GB     21727
CA      8903
AU      4631
NL      1670
DE      1580
FR      1171
IT      1029
SE       887
NZ       868
ES       806
DK       579
IE       387
NO       359
CH       279
BE       233
AT       217
LU        26
Name: country, dtype: int64

In [19]:
# Conversion EUR en USD

In [20]:
exchange_rates = {'USD': 1, 'EUR': 1.18}  # 1 EUR = 1.10 USD
data['exchange_rate'] = data['currency'].map(exchange_rates)

In [21]:
# Conversion 'goal' et 'pledged'  EUR en USD
data['goal_usd'] = data['goal'] * data['exchange_rate']
data['pledged_usd'] = data['pledged'] * data['exchange_rate']

In [22]:
data

,id,name,category,subcategory,country,age,start_date,end_date,currency,goal,pledged,backers,state,exchange_rate,goal_usd,pledged_usd
0,149450711,Abilities Rock,Art,Art,US,26,2015-11-17 19:37:50,2015-12-17 19:37:50,USD,10000.0,0.0,0,failed,1.0,10000.0,0.0
1,356418410,De'VIA Elders Reunion,Art,Art,US,26,2016-03-21 22:18:52,2016-04-23 04:00:00,USD,7500.0,958.0,15,failed,1.0,7500.0,958.0
2,412253775,Help C.B. Farr make a documentary about becomi...,Art,Art,US,28,2013-06-05 08:30:31,2013-07-05 08:30:31,USD,20000.0,0.0,0,failed,1.0,20000.0,0.0
3,477821027,The London Aesthetifest,Art,Art,US,27,2014-06-24 19:49:35,2014-07-15 04:05:00,USD,7800.0,1000.0,15,failed,1.0,7800.0,1000.0
4,350951514,Hobo Nickels across the nation,Art,Art,US,22,2015-10-02 16:00:42,2015-11-01 16:00:42,USD,2621.0,392.0,6,failed,1.0,2621.0,392.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
300620,54844339,Growing ManhattanÂ’s community hackerspace,Technology,Makerspaces,US,21,2013-04-05 17:37:20,2013-04-16 02:00:00,USD,1000.0,1769.0,25,successful,1.0,1000.0,1769.0
300621,565306461,One small step for Africa ... Vehicles that ru...,Technology,Makerspaces,CA,28,2015-01-21 20:05:25,2015-02-20 20:05:25,CAD,10000.0,10815.0,56,successful,NaN,NaN,NaN
300622,285318317,MakerSpace: DEFEAT-Teaching to the test!,Technology,Makerspaces,US,27,2014-07-22 13:43:24,2014-08-31 05:15:00,USD,5000.0,226.0,6,failed,1.0,5000.0,226.0
300623,503601672,Austin Tinkering School: the Expansion,Technology,Makerspaces,US,30,2014-10-27 16:27:02,2014-11-26 03:00:00,USD,20000.0,23312.0,318,successful,1.0,20000.0,23312.0
300624,565122152,Websmith Studio : Think; Build; Break; Play.,Technology,Makerspaces,US,22,2016-01-11 23:13:36,2016-02-10 23:13:36,USD,1500.0,1660.0,18,successful,1.0,1500.0,1660.0

In [23]:
# on a jugÃ© de supprimer la colonne pledged qui un attribut incontrolable

In [24]:
data = data.drop(['goal', 'pledged', 'currency','exchange_rate','pledged'], axis=1)

In [25]:
data

,id,name,category,subcategory,country,age,start_date,end_date,backers,state,goal_usd,pledged_usd
0,149450711,Abilities Rock,Art,Art,US,26,2015-11-17 19:37:50,2015-12-17 19:37:50,0,failed,10000.0,0.0
1,356418410,De'VIA Elders Reunion,Art,Art,US,26,2016-03-21 22:18:52,2016-04-23 04:00:00,15,failed,7500.0,958.0
2,412253775,Help C.B. Farr make a documentary about becomi...,Art,Art,US,28,2013-06-05 08:30:31,2013-07-05 08:30:31,0,failed,20000.0,0.0
3,477821027,The London Aesthetifest,Art,Art,US,27,2014-06-24 19:49:35,2014-07-15 04:05:00,15,failed,7800.0,1000.0
4,350951514,Hobo Nickels across the nation,Art,Art,US,22,2015-10-02 16:00:42,2015-11-01 16:00:42,6,failed,2621.0,392.0
...,...,...,...,...,...,...,...,...,...,...,...,...
300620,54844339,Growing ManhattanÂ’s community hackerspace,Technology,Makerspaces,US,21,2013-04-05 17:37:20,2013-04-16 02:00:00,25,successful,1000.0,1769.0
300621,565306461,One small step for Africa ... Vehicles that ru...,Technology,Makerspaces,CA,28,2015-01-21 20:05:25,2015-02-20 20:05:25,56,successful,NaN,NaN
300622,285318317,MakerSpace: DEFEAT-Teaching to the test!,Technology,Makerspaces,US,27,2014-07-22 13:43:24,2014-08-31 05:15:00,6,failed,5000.0,226.0
300623,503601672,Austin Tinkering School: the Expansion,Technology,Makerspaces,US,30,2014-10-27 16:27:02,2014-11-26 03:00:00,318,successful,20000.0,23312.0
300624,565122152,Websmith Studio : Think; Build; Break; Play.,Technology,Makerspaces,US,22,2016-01-11 23:13:36,2016-02-10 23:13:36,18,successful,1500.0,1660.0

In [26]:
#conversion des dates en format date

In [27]:
# data['start_date'] = pd.to_datetime(data['start_date'])
# data['end_date'] = pd.to_datetime(data['end_date'])

In [28]:
#data.dtypes

In [29]:
#data['campagne_duration'] = (data['end_date'] - data['start_date']).dt.days

In [30]:
data

,id,name,category,subcategory,country,age,start_date,end_date,backers,state,goal_usd,pledged_usd
0,149450711,Abilities Rock,Art,Art,US,26,2015-11-17 19:37:50,2015-12-17 19:37:50,0,failed,10000.0,0.0
1,356418410,De'VIA Elders Reunion,Art,Art,US,26,2016-03-21 22:18:52,2016-04-23 04:00:00,15,failed,7500.0,958.0
2,412253775,Help C.B. Farr make a documentary about becomi...,Art,Art,US,28,2013-06-05 08:30:31,2013-07-05 08:30:31,0,failed,20000.0,0.0
3,477821027,The London Aesthetifest,Art,Art,US,27,2014-06-24 19:49:35,2014-07-15 04:05:00,15,failed,7800.0,1000.0
4,350951514,Hobo Nickels across the nation,Art,Art,US,22,2015-10-02 16:00:42,2015-11-01 16:00:42,6,failed,2621.0,392.0
...,...,...,...,...,...,...,...,...,...,...,...,...
300620,54844339,Growing ManhattanÂ’s community hackerspace,Technology,Makerspaces,US,21,2013-04-05 17:37:20,2013-04-16 02:00:00,25,successful,1000.0,1769.0
300621,565306461,One small step for Africa ... Vehicles that ru...,Technology,Makerspaces,CA,28,2015-01-21 20:05:25,2015-02-20 20:05:25,56,successful,NaN,NaN
300622,285318317,MakerSpace: DEFEAT-Teaching to the test!,Technology,Makerspaces,US,27,2014-07-22 13:43:24,2014-08-31 05:15:00,6,failed,5000.0,226.0
300623,503601672,Austin Tinkering School: the Expansion,Technology,Makerspaces,US,30,2014-10-27 16:27:02,2014-11-26 03:00:00,318,successful,20000.0,23312.0
300624,565122152,Websmith Studio : Think; Build; Break; Play.,Technology,Makerspaces,US,22,2016-01-11 23:13:36,2016-02-10 23:13:36,18,successful,1500.0,1660.0

In [31]:
data.isnull().sum()

id                 0
name               3
category           0
subcategory        0
country          210
age                0
start_date         0
end_date           0
backers            0
state              0
goal_usd       38271
pledged_usd    38271
dtype: int64

In [32]:
#remplacer les valeurs manquantes numerique par leur moyenne et categoriel par leur mode

In [33]:
data['goal_usd'].fillna(data['goal_usd'].mean(), inplace=True)

data['pledged_usd'].fillna(data['pledged_usd'].mean(), inplace=True)

data['name'].fillna(data['name'].mode()[0], inplace=True)

data['country'].fillna(data['country'].mode()[0], inplace=True)

# data['sex'].fillna(data['sex'].mode()[0], inplace=True)

In [34]:
data

,id,name,category,subcategory,country,age,start_date,end_date,backers,state,goal_usd,pledged_usd
0,149450711,Abilities Rock,Art,Art,US,26,2015-11-17 19:37:50,2015-12-17 19:37:50,0,failed,10000.000000,0.000000
1,356418410,De'VIA Elders Reunion,Art,Art,US,26,2016-03-21 22:18:52,2016-04-23 04:00:00,15,failed,7500.000000,958.000000
2,412253775,Help C.B. Farr make a documentary about becomi...,Art,Art,US,28,2013-06-05 08:30:31,2013-07-05 08:30:31,0,failed,20000.000000,0.000000
3,477821027,The London Aesthetifest,Art,Art,US,27,2014-06-24 19:49:35,2014-07-15 04:05:00,15,failed,7800.000000,1000.000000
4,350951514,Hobo Nickels across the nation,Art,Art,US,22,2015-10-02 16:00:42,2015-11-01 16:00:42,6,failed,2621.000000,392.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
300620,54844339,Growing ManhattanÂ’s community hackerspace,Technology,Makerspaces,US,21,2013-04-05 17:37:20,2013-04-16 02:00:00,25,successful,1000.000000,1769.000000
300621,565306461,One small step for Africa ... Vehicles that ru...,Technology,Makerspaces,CA,28,2015-01-21 20:05:25,2015-02-20 20:05:25,56,successful,39332.497454,9316.894622
300622,285318317,MakerSpace: DEFEAT-Teaching to the test!,Technology,Makerspaces,US,27,2014-07-22 13:43:24,2014-08-31 05:15:00,6,failed,5000.000000,226.000000
300623,503601672,Austin Tinkering School: the Expansion,Technology,Makerspaces,US,30,2014-10-27 16:27:02,2014-11-26 03:00:00,318,successful,20000.000000,23312.000000
300624,565122152,Websmith Studio : Think; Build; Break; Play.,Technology,Makerspaces,US,22,2016-01-11 23:13:36,2016-02-10 23:13:36,18,successful,1500.000000,1660.000000

In [35]:
data.isnull().sum()

id             0
name           0
category       0
subcategory    0
country        0
age            0
start_date     0
end_date       0
backers        0
state          0
goal_usd       0
pledged_usd    0
dtype: int64

In [36]:
data.to_csv('../data/donne_nettoyee.csv', index=False)